# GEMINI
GEMINI_API_KEY=AQ.Ab8RN6LxM-qn992rbpmo8FBQmGajFsr71Tc9tumtnNETAyRQAQ
GEMINI_MODEL=gemini-2.5-flash

# DATABASE - MYSQL
DB_ENGINE=mysql
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=Ngocki2602@
MYSQL_DATABASE=smartlibrary

DEMO_DATA=true
